{% extends "layout.html" %} {% block content %}
<h1 class="mb-4">Films</h1>

<a href="/films/create/" class="btn btn-primary mb-3">Create Film</a>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Mark</th>
      <th scope="col">Year</th>
    </tr>
  </thead>
  <tbody>
    {% for f in films %}
    <tr class="align-middle">
      <th scope="row">{{ f.pk }}</th>
      <td>
        <img
          class="rounded"
          src="{% if f.image %}{{ f.image.url }}{% elif f.image_url %}{{ f.image_url }}{% else %}https://png.pngtree.com/png-vector/20221125/ourmid/pngtree-no-image-available-icon-flatvector-illustration-picture-coming-creative-vector-png-image_40968940.jpg{% endif %}"
          alt="{{ f.title }}"
          style="width: 50px; height: 50px; object-fit: cover"
        />
      </td>
      <td>{{ f.title }}</td>
      <td>{{ f.get_genre_display }}</td>
      <td>⭐{{ f.mark }}</td>
      <td>{{ f.year }}</td>
      <td>
        <a class="btn btn-sm text-bg-secondary" href="/films/update/{{f.pk}}">Edit</a>
        <a class="btn btn-sm text-bg-danger" href="/films/delete/{{f.pk}}">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7" class="text-center">No films available</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}